<div id="main-slider" class="liquid-slider">
    <div>
      <h2 class="title">1</h2>
      <p class="bold">ICGRE 2017:</p>
      <p class="body">ICGRE 2017 will  be held in Barcelona, Spain on April 3 - 4, 2017 at the Alimara Hotel Barcelona.</p>

<!--       <p class="bold">Exhibition:</p>
      <p class="body">ICGRE'16 is proud to announce that there will be a table exhibition on behalf of <b>Robertson Geologging</b> during the duration of the conference!</p>
      <center><img src="../img/geologging.JPG" width="170"></center> -->

      <p class="bold">Poster Board Dimensions:</p>
      <p class="body">Authors presenting via poster boards are to be informed that poster boards are 130 cm height and 95 cm width.</p>
    </div>          
    <div>
      <h2 class="title">2</h2>
      <p class="bold">Best Paper Award:</p>
      <p class="body">Two best paper awards will be conferred to author(s) of the papers that receive the highest rank during the peer-review and by the respected session chairs. Please visit <a href="../papers" class="body-link">Paper Submission</a> for more information.</p>
    </div>
    <div>
      <h2 class="title">3</h2>
      <p class="bold">Propose Exhibits, Workshops & More</p>
      <p class="body">ICGRE attracts a wide range of researchers in the field of geotechnical research and engineering. As a prominent company in the field of geotechnical research and engineering, we would like to offer you an exhibit at ICGRE. Please visit <a href="../events" class="body-link">Events</a> for more information.</p>
    </div>
  </div>